#PlayerSettingsCardsWrapper {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid var(--bgr-lighter-color);
    flex-basis: 70%;

    /* Items inside */
    gap: 0.5rem;
    padding: 0.5rem;
}

#LobbyOptionBar {
    border: 3px solid var(--bgr-lighter-color);
    flex-basis: 30%;
    padding: 10px;
}
